:root {
    --icon-url: 'none';
    /* Colors */
    --v-primary: theme('colors.primary.600');
    --v-primary-rgb: 79, 70, 229;
    --v-primary-darker: hsl(from var(--v-primary) h s calc(l - 10));
    --v-primary-darkest: hsl(from var(--v-primary) h s calc(l - 15));
    --v-primary-lighter: hsl(from var(--v-primary) h s calc(l + 10));
    --v-primary-lightest: hsl(from var(--v-primary) h s calc(l + 15));
    --v-secondary: theme('colors.light.bg1');
    --v-secondary-rgb: 209, 213, 219;
    --v-secondary-darker: hsl(from var(--v-secondary) h s calc(l - 10));
    --v-secondary-darkest: hsl(from var(--v-secondary) h s calc(l - 15));
    --v-secondary-lighter: hsl(from var(--v-secondary) h s calc(l + 10));
    --v-secondary-lightest: hsl(from var(--v-secondary) h s calc(l + 15));
    --v-success: theme('colors.success.500');
    --v-success-rgb: 16, 185, 129;
    --v-success-darker: hsl(from var(--v-success) h s calc(l - 5));
    --v-success-darkest: hsl(from var(--v-success) h s calc(l - 10));
    --v-success-lighter: hsl(from var(--v-success) h s calc(l + 5));
    --v-success-lightest: hsl(from var(--v-success) h s calc(l + 10));
    --v-warning: theme('colors.warning.500');
    --v-warning-rgb: 245, 158, 11;
    --v-warning-darker: hsl(from var(--v-warning) h s calc(l - 5));
    --v-warning-darkest: hsl(from var(--v-warning) h s calc(l - 10));
    --v-warning-lighter: hsl(from var(--v-warning) h s calc(l + 5));
    --v-warning-lightest: hsl(from var(--v-warning) h s calc(l + 10));
    --v-danger: theme('colors.danger.500');
    --v-danger-rgb: 239, 68, 68;
    --v-danger-darker: hsl(from var(--v-danger) h s calc(l - 5));
    --v-danger-darkest: hsl(from var(--v-danger) h s calc(l - 10));
    --v-danger-lighter: hsl(from var(--v-danger) h s calc(l + 5));
    --v-danger-lightest: hsl(from var(--v-danger) h s calc(l + 10));
    --v-gray: theme('colors.light.bg3');
    --v-gray-rgb: 243, 244, 246;
    --v-gray-darker: hsl(from var(--v-gray) h s calc(l - 5));
    --v-gray-darkest: hsl(from var(--v-gray) h s calc(l - 10));
    --v-gray-lighter: hsl(from var(--v-gray) h s calc(l + 5));
    --v-gray-lightest: hsl(from var(--v-gray) h s calc(l + 10));
    --color-star: #FACC15;
}